{% for review in reviews %}
    <ul>
        <li>{{ review.name }}</li>
        <li>{{ review.rating }}</li>
        <li>{{ review.created|date:"d/m/Y" }}</li>
        <li>{{ review.message }}</li>
        {% if review.page %}
            <li><a href="{{ review.page.get_absolute_url }}">Подробнее</a></li>
        {% endif %}
    </ul>
{% endfor %}

{% if reviews.has_other_pages %}
    <ul class="pagination">
        {% if reviews.has_previous %}
            <li><a href="?page={{ reviews.previous_page_number }}">&laquo;</a></li>
        {% else %}
            <li class="disabled"><span>&laquo;</span></li>
        {% endif %}
        {% for i in reviews.paginator.page_range %}
            {% if reviews.number == i %}
                <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
            {% else %}
                <li><a href="?page={{ i }}">{{ i }}</a></li>
            {% endif %}
        {% endfor %}
        {% if reviews.has_next %}
            <li><a href="?page={{ reviews.next_page_number }}">&raquo;</a></li>
        {% else %}
            <li class="disabled"><span>&raquo;</span></li>
        {% endif %}
    </ul>
{% endif %}
